.App {
  text-align: center;
}


.menu {
  display:flex;
  justify-content:center;
  background-color:rgba(255,255,255,0.05);
  border-top:1px solid grey;
  border-bottom:1px solid grey;
  align-items:stretch;
}

.menuitems {
  color:white;
  padding:1% 5% 1% 5%;
  border-left:1px solid grey;
  border-right:1px solid grey;
  text-decoration:none;
  text-transform:uppercase;
  border-bottom:3px solid rgba(255, 255, 255, 0);
  border-top:3px solid rgba(255, 255, 255, 0);
}

.menuitems:hover {
  color:lightskyblue;
  background-color:rgba(255,255,255,0.1);
  border-bottom-color:lightskyblue;
}

.starwarslogo {
  justify-content:center;
  display:flex;
}

.naves {
  color:white; 
}

.listanaves {
  color:white;
  background-color:rgba(255,255,255,0.1);
  padding:1% 12% 1% 12%;
  list-style-type: none;
}

.mainnaves {
  color:white;
}

.loading{
  text-align:center!important;
  font-size:45px;
  margin-top:5%;
}

.botoninfo {
  padding:0.5% 5% 0.5% 5%;
  border-radius:5px;
  background-color:gainsboro;
  font-size:18px;
  margin-top:1%;
  margin-bottom:1%;
  border:none;
}

.pages {
  display:flex;
  justify-content:center;
}

.pages button {
  background-color:rgba(255,255,255,0);
  color:white;
  font-size:18px;
  border:none;
  padding:1% 2% 1% 2%;
}

.pages button:hover {  
  color:lightskyblue;
  cursor:pointer;
}

.modalbackground {
  width:100vw;
  overflow-x:hidden;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  position:fixed;
  display:flex;
  justify-content:center;
  align-items:top;
  padding-top:2%;
}

.modalcontainer {
  width:60vw;
  height:50vh;
  border-radius: 5px;
  background-image:url("./img/space.jpg");
  box-shadow:rgba(0,0,0,0.9) 0px 5px 15px;
  padding:25px;


}

.closebutton {
  display:flex;
  justify-content:flex-end!important;
}

.closebutton button {
  background-color:white;
  border-radius:5px;
  border:none;
  font-size:20px;
  cursor:pointer;
  color:black;
  padding:5px 10px 5px 10px;

}

